<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        table { border:1px solid green;}
        table thead tr th{ border:1px solid green;}
        table tbody tr td{ border:1px solid green;}
    </style>

</head>
<body>
<p>
    <a href="http://localhost:3000/movie/add">增加</a>

</p>
<h1>DEMO List</h1>


<table>
    <thead>
    <tr>
        <th>id</th>
        <th>uid</th>
        <th>title</th>
        <th>content</th>
        <th>createTime</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    <% demo.forEach(function( demo ){ %>
    <tr>
        <td><%=demo._id%></td>
        <td><%= demo.uid %></td>
        <td><%= demo.title %></td>
        <td><%= demo.content %></td>
        <td><%=demo.createTime%></td>
        <td><a href="http://localhost:3000/movie/del/<%=demo._id%>">Delete</a> | <a href="http://localhost:3000/movie/modify/<%=demo._id%>">Update</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>